/*font-family{*/
/*    font-family: Oswald-DemiBold;*/
/*    src: url("../fonts/Oswald-DemiBold.ttf");*/
/*}*/
.bg-full {
    width: 100%;
    background: url('../images/formbgdark.jpg') no-repeat;
    background-size: cover;
    background-position: fixed;
    overflow: scroll;
    padding-bottom: 48px;
}

/*.return > a > span {*/
/*    position: fixed;*/
/*    top: 16px;*/
/*    left: 50%;*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    transform: translateX(-50%);*/
}

.top-buffer {
    margin-top: 0px;
}

.form-control:focus {
    border-color: #337ab7;
}

.form-group > label, .radio-inline > label, label {
    color: white;
    font-weight: 400;
}

.form-group > input, select, textarea {
    margin-bottom: 20px;
}

select {
    margin-top: 20px;
}

.form-group > input {
    background: none !important;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0;
    box-shadow: none;
    color: white;
}

.form-group > input:focus {
    box-shadow: none;
}

.form-group > input::-webkit-input-placeholder {
    color: #999;
}

select:focus {
    outline: none;
    box-shadow: none;
}

textarea.form-control {
    background: none !important;
    box-shadow: none;
    color: white;
    font-weight: 400;
    border: 3px solid white;
    border-radius: 0;
    border: 3px solid white;
}

textarea.form-control:focus {
    box-shadow: none !important;
}

@media (min-width: 768px) {
    /*.return > a > span {*/
    /*    left: 16px;*/
    /*    transform: translateX(0);*/
    /*}*/
    
.form-group > label, .radio-inline > label, label {
    color: white;
    font-weight: 400;
    padding-top: 100px;
   
}

/*.nav masthead-nav{*/
/*    position:fixed;*/
    
/*}*/
    
    
    
    
}
